body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: #f4f4f4;
    margin: 0;
}

/* Skip Link */
.skip-link {
    position: absolute;
    left: -9999px;
}

.skip-link:focus {
    left: 10px;
    top: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    border: 2px solid black;
}

/* Header */
header {
    background-color: #003366;
    padding: 20px;
}

/* Navigation */
nav {
    background-color: #00509e;
    padding: 10px;
    display: inline-block;
    width: 80%;
}

/* Descendant selector */
nav img {
    width: 10%;
}

/* Main */
main {
    background-color: white;
    font-size: 20px;
    padding: 20px;
}

/* Footer */
footer {
    background-color: #003366;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Homework requirement: comment out LI styling

li {
    display: inline-block;
    width: 150px;
}

*/

h1 {
    text-align: center;
    font-family: Georgia, serif;
    color: white;
}

p {
    line-height: 1.8;
}

/* Grid Layout */
.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-evenly;
    align-items: start;
    row-gap: 20px;
}

/* Descendant selector */
.grid img {
    width: 100%;
}

/* Flex Layout */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
